.con {
    position: relative;
    width: 100px;
    height: 100px;
}
.d {
    position: absolute;
    border-color: green;
    border-style: solid;
    border-width: 6px;
    border-radius: 50%;
}
.d1 {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.d2 {
    top: 17%;
    left: 17%;
    width: 66%;
    height: 66%;
}
.d3 {
    top: 33%;
    left: 33%;
    width: 33%;
    height: 33%;
}
.d4 {
    top: 50%;
    left: 50%;
}

.l1 {
    position: absolute;
    top:  6px;
    left: 6px;
    -webkit-animation: moveRadar 2000ms infinite;
    -webkit-animation-timing-function:linear;
    width: 100%;
    height: 100%;
}
@-webkit-keyframes moveRadar {
    form {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.l11 {
    width:50%;
    height: 50%;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, green), color-stop(1, rgba(0, 0, 0, 0)));
    background-image: -moz-gradient(linear, right top, left top, color-stop(0, green), color-stop(1, rgba(0, 0, 0, 0)));
    background-image: -o-gradient(linear, right top, left top, color-stop(0, green), color-stop(1, rgba(0, 0, 0, 0)));
    background-image: -ms-gradient(linear, right top, left top, color-stop(0, green), color-stop(1, rgba(0, 0, 0, 0)));
    background-image: linear-gradient(right top, left top, color-stop(0, green), color-stop(1, rgba(0, 0, 0, 0)));
    border-top-left-radius: 100%;
}
.p {
    background-color: #dcdcdc;
    opacity:  0.0;
    width:    1%;
    height:   1%;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px -1px 25px #dcdcdc,  0px 1px 25px #dcdcdc, 1px 0px 25px #dcdcdc, -1px 0px 25px #dcdcdc;

    -webkit-animation: showp1 2000ms infinite;
    -webkit-animation-timing-function: linear;
}
.p1{
    top:  25%;
    left: 50%;
    -webkit-animation-delay: 0ms;
}
.p2{
    top:  50%;
    left: 75%;
    -webkit-animation-delay: 500ms;
}
.p3{
    top:  75%;
    left: 50%;
    -webkit-animation-delay: 1000ms;
}
@-webkit-keyframes showp1 {
    0%  { opacity: 0.5; }
    25% { opacity: 0.0; }
}
.con {
    width: 500px;
    height: 500px;
}
